/* =Typography
-----------------------------------------------------------------------------*/
body {
  background: url(../img/background.jpg) repeat #ccc; 
}
	
/* =Links
-----------------------------------------------------------------------------*/


/* =Layout
-----------------------------------------------------------------------------*/
#page {
	width: 940px;
	padding: 0 10px;
	margin: 24px auto;
}

.content {
  height: auto;
  color: #1c1c1c;
  font-size: 24px;
  padding: 20px;
  line-height:26px;
}



.navbutton {
  color: #fff;
  text-align: center;
  opacity: 0.8;
  padding: 10px 0px 10px;
  text-decoration: none;
}
.navbutton:hover {
  color: #fff;
  opacity: 1;
}

#main {
  background-color: #A5BE94;
  border-radius: 20px 0px 0px 0px;
}
#portfolio {
  background-color: #DF7579;
}
#about {
  background-color: #91B7C0;
  border-radius: 0px 20px 0px 0px;
}

/* =Header
-----------------------------------------------------------------------------*/
header {
  background-color: #21201E;
  padding: 10px 0px 0px 10px;
  font-size: 25px;
}


/* =Nav
-----------------------------------------------------------------------------*/

/* =Misc
-----------------------------------------------------------------------------*/

#fb-button {
  background-color: #BE93BE;
  color: #ffffff;
  position: fixed;
  top: 60%;
  left: -9px;
  float: none;
  padding: 17px 15px 12px;
  z-index: 100;
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  border-radius: 8px 8px 8px 8px;
  opacity: 0.8;
  text-decoration: none;
  text-shadow: none;
}

#fb-button:hover {
  left: -6px;
  opacity: 1;
}


/* =Footer
-----------------------------------------------------------------------------*/
footer {
  background-color: #21201E;
  padding: 5px;
  font-size: 14px;
  color: #c9c9c9;
  text-align: center;
  margin: 0px;

}